module.exports = {
  gmail: {
    user: "",
    clientId: "",
    clientSecret: "",
    refreshToken: ""
  },
  gmailPass: "",
	staticDir: "static",
	baseUrl: "http://api.parkinghero.in.ua",
	mongodbUri: "mongodb://localhost:3010/parkinghero"
	redmineUrl: "http://issues.parkinghero.in.ua",
};
